<html>
  <body>
  <h1>Information sur le module id={{id}}</h1>
  <table border=0>
	<tr>
		<td>Nom module:</td><td>{{nomM}}
	</tr>
	<tr>
		<td>Date début:</td><td>{{dateDebut}}
	</tr>
	<tr>
		<td>Durée:</td><td>{{duree}}
	</tr>
  </table>
  </body>
</html>